<div>
    <h1>Restaurar contraseña</h1>
    <form id="restorePassForm">
        <label>Correo electrónico</label>
        <input name="email">
        <label>Nueva contraseña</label>
        <input name="password">
        <input type="submit">
    </form>
</div>
<script src="./js/restorePass.js"></script>